<div id="header" class="page-header">
    <h2>Preset <small>_{{{ preset.presetName }}}_</small></h2>
</div>
{{#with preset.ini}}
<div class="row">
    <div id="presetServer" class="col-md-5">
        <form role="form">
            <div class="form-group">
                <label for="inptName">Name</label>
                <input id="inptName" type="text" class="form-control" placeholder="{{ SERVER.NAME }}">
            </div>
            <div class="form-group">
                <label for="inptMaxClients">MaxClients</label>
                <input id="inptMaxClients" type="text" class="form-control" placeholder="{{ SERVER.MAX_CLIENTS }}">
            </div>
            <div class="form-group">
                <label for="inptTrack">Track/s</label>
                <select id="inptTracks" multiple class="form-control">
                    {{#each ../../tracks}}
                        <option value="{{this}}">{{#formatTrack}}{{this}}{{/formatTrack}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="inptCar">Car/s</label>
                <select id="inptCars" multiple class="form-control">
                    {{#each ../../cars}}
                        <option value="{{this}}">{{#formatCar}}{{this}}{{/formatCar}}</option>
                    {{/each}}
                </select>
            </div>
        </form>
        <ul>
            {{#each SERVER}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
            <!--
            NAME: ACServerDevs
CARS: abarth500
TRACK: magione
SUN_ANGLE: -8
MAX_CLIENTS: 20
RACE_OVER_TIME: 200
UDP_PORT: 9456
TCP_PORT: 9457
HTTP_PORT: 8098
REGISTER_TO_LOBBY: 1
PICKUP_MODE_ENABLED: 1
SLEEP_TIME: 10
VOTING_QUORUM: 75
VOTE_DURATION: 20
BLACKLIST_MODE: 0
CLIENT_SEND_INTERVAL_HZ: 20
TC_ALLOWED: 2
ABS_ALLOWED: 1
STABILITY_ALLOWED: 1
AUTOCLUTCH_ALLOWED: 1
LOOP_MODE: 1
PASSWORD: ciao
ALLOWED_TYRES_OUT: 2
DAMAGE_MULTIPLIER: 0
FUEL_RATE: 0
TYRE_WEAR_RATE: 0
-->
        </ul>
    </div>
    <div id="presetSection" class="col-md-5">
        <div class="row">
            <div id="presetEvent" class="col-md-12">
                <div class="form-group">
                    <label for="inptName">Event</label>
                    <input type="datetime" class="form-control" placeholder="Event start date/time">
                    <span class="help-block">Format: YYYY-MM-DD HH:MM:SS</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Autostart
                    </label>
                </div>
            </div>
        </div>
    {{#if BOOK}}
        <div class="row">
            <div id="presetBook" class="col-md-12">
                <div class="form-group">
                    <label for="inptBookingName">Booking</label>
                    <input id="inptBookingName" type="text" class="form-control" value="{{ BOOK.NAME }}">
                </div>
                <div class="form-group">
                    <label for="inptBookingTime">Time</label>
                    <input id="inptBookingTime" type="text" class="form-control" value="{{ BOOK.TIME }}">
                </div>
                <div class="form-group">
                    <label for="inptBookingWaitTime">Wait Time</label>
                    <input id="inptBookingWaitTime" type="text" class="form-control" value="{{ BOOK.WAIT_TIME}}">
                </div>
            </div>
        </div>
    {{/if}}
        {{#if PRACTICE}}
            <div class="row">
                <div id="presetPractice" class="col-md-12">
                    <div class="form-group">
                        <label for="inptPracticeName">Practice</label>
                        <input id="inptPracticeName" type="text" class="form-control" value="{{ PRACTICE.NAME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptPracticeTime">Time</label>
                        <input id="inptPracticeTime" type="text" class="form-control" value="{{ PRACTICE.TIME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptPracticeWaitTime">Wait Time</label>
                        <input id="inptPracticeWaitTime" type="text" class="form-control" value="{{ PRACTICE.WAIT_TIME}}">
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if QUALIFY}}
            <div class="row">
                <div id="presetQualify" class="col-md-12">
                    <div class="form-group">
                        <label for="inptQualifyName">Qualify</label>
                        <input id="inptQualifyName" type="text" class="form-control" value="{{ QUALIFY.NAME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptQualifyTime">Time</label>
                        <input id="inptQualifyTime" type="text" class="form-control" value="{{ QUALIFY.TIME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptQualifyWaitTime">Wait Time</label>
                        <input id="inptQualifyWaitTime" type="text" class="form-control" value="{{ QUALIFY.WAIT_TIME}}">
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if RACE}}
            <div class="row">
                <div id="presetRace" class="col-md-12">
                    <div class="form-group">
                        <label for="inptRaceName">Race</label>
                        <input id="inptRaceName" type="text" class="form-control" value="{{ RACE.NAME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptRaceTime">Time</label>
                        <input id="inptRaceTime" type="text" class="form-control" value="{{ RACE.TIME }}">
                    </div>
                    <div class="form-group">
                        <label for="inptRaceLaps">Laps</label>
                        <input id="inptRaceLaps" type="text" class="form-control" value="{{ RACE.LAPS }}">
                    </div>
                    <div class="form-group">
                        <label for="inptRaceWaitTime">Wait Time</label>
                        <input id="inptRaceWaitTime" type="text" class="form-control" value="{{ RACE.WAIT_TIME}}">
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{/with}}
