<div id="header" class="page-header">
    <h3>Event <small>&raquo; {{ event.name }}</small></h3>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Event:</h3>
                    </div>
                    <table class="table">
                        <tr><td>Date</td><td>{{ event.date }}</td></tr>
                        <tr>
                            <td>Sessions:</td>
                            <td>
                                {{#if preset.hasPracticeSession}}<li>Practice ({{preset.practiceSession.TIME}} Min.)</li>{{/if}}
                                {{#if preset.hasQualifySession}}<li>Qualify ({{preset.qualifySession.TIME}} Min.)</li>{{/if}}
                                {{#if preset.hasRaceSession}}<li>Race ({{preset.raceSession.LAPS}} Laps)</li>{{/if}}
                            </td>
                        </tr>
                        <tr><td>Bookings:</td><td>{{ event.bookings.length }} / {{preset.ini.SERVER.MAX_CLIENTS}}</td></tr>
                        <tr>
                            <td colspan="2">
                                {{#if preset.hasPassword}}<span class="label label-warning">Password</span>{{/if}}
                                {{#if preset.hasPenalties}}<span class="label label-danger">Penalties</span>{{/if}}
                                {{#if preset.hasDynamicTrack}}<span class="label label-info">Dynamic Track</span>{{/if}}
                                {{#if preset.hasPickupMode}}<span class="label label-success">Pickup Mode</span>{{/if}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details:</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Track</td>
                            <td>{{#each preset.tracks}}<li>{{#formatTrack}}{{this}}{{/formatTrack}}</li>{{/each}}</td>
                        </tr>
                        <tr><td>Cars</td><td>{{#each preset.cars}} <li>{{#formatCar}}{{this}}{{/formatCar}}</li>{{/each}}</td></tr>
                        <tr><td>Pits</td><td>{{preset.ini.SERVER.MAX_CLIENTS}}</td></tr>
                        <tr><td>Time</td><td>{{preset.timeOfDay}}</td></tr>
                        <tr>
                            <td>Tyre/Fuel</td>
                            <td>{{preset.ini.SERVER.TYRE_WEAR_RATE}}% / {{preset.ini.SERVER.FUEL_RATE}}%</td>
                        </tr>
                        <tr>
                            <td>Damge</td>
                            <td>{{preset.ini.SERVER.DAMAGE_MULTIPLIER}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bookings:</h3>
            </div>
            <table class="table">
                <tr><th>Name</th><th>Car</th></tr>
                {{#each event.bookings}}{{this.user_id}}{{/each}}
            </table>
        </div>
    </div>
</div>

