<div id="header" class="page-header">
    <h3>Profile <small>&raquo; Steam</small></h3>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your profile</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="avatarView" class="col-md-3">
                        <img src="{{ user/avatarmedium }}" alt="steam.avatar"/>
                    </div>
                    <div id="profileView" class="col-md-8">
                        <p>Name: {{ user/personaname}}</p>
                        <p>Steam GUID: <span class="label label-success">{{ user/steamid }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Events</h3>
            </div>
            {{#if events}}
                <table class="table">
                    <tr><th>Name</th><th>Date</th><th>Status</th></tr>
                    {{#each events}}
                        <tr>
                            <td><a href="/view/event/{{this/slug}}">{{this/name}}</a></td>
                            <td>{{this/date}}</td>
                            <td>
                                <button title="" type="button" class="btn btn-warning btn-xs" onclick="handleBookEvent('{{ this/_id}}, { user_id: {{ ../user/_id }},  }')">
                                    Not booked
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{else}}
                <div class="panel-body">
                    No events found.
                </div>
            {{/if}}
        </div>
    </div>
</div>
