<div id="header" class="page-header">
    <h3>Server <small>&raquo; {{ server.name }}</small></h3>
    {{#if server.preset.hasPassword}}<span class="label label-warning">Password</span>{{/if}}
    {{#if server.preset.hasPenalties}}<span class="label label-danger">Penalties</span>{{/if}}
    {{#if server.preset.hasDynamicTrack}}<span class="label label-info">Dynamic Track</span>{{/if}}
    {{#if server.preset.hasPickupMode}}<span class="label label-success">Pickup Mode</span>{{/if}}
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-xs-4 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Session</h3>
                    </div>
                    <div class="panel-body">
                        ##UNKNOWN##
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Settings</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Cars</td>
                            <td>{{#each server.preset.cars}}
                                <li>{{#formatCar this}}{{/formatCar}}</li>{{/each}}</td>
                        </tr>
                        <tr>
                            <td>Tracks</td>
                            <td>{{#each server.preset.tracks}}
                                <li>{{#formatTrack this}}{{/formatTrack}}</li>{{/each}}</td>
                        </tr>
                        <tr>
                            <td>Clock</td>
                            <td>{{ server.preset.timeOfDay }}</td>
                        </tr>
                        <tr>
                            <td>Clients</td>
                            <td>max. {{server.preset.ini.SERVER.MAX_CLIENTS}}</td>
                        </tr>
                        <tr>
                            <td>Tyre/Fuel</td>
                            <td>{{server.preset.ini.SERVER.TYRE_WEAR_RATE}}% / {{server.preset.ini.SERVER.FUEL_RATE}}%</td>
                        </tr>
                        <tr>
                            <td>Damge</td>
                            <td>{{server.preset.ini.SERVER.DAMAGE_MULTIPLIER}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
            {{#if server.preset.hasDynamicTrack}}
            <div class="col-xs-4 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dynamic Track</h3>
                    </div>
                    <table class="table">
                        <tr><td>Grip</td><td>##UNKNOWN##</td></tr>
                        <tr><td>Start</td><td>{{server.preset.ini.DYNAMIC_TRACK.SESSION_START}}%</td></tr>
                        <tr><td>Random</td><td>{{server.preset.ini.DYNAMIC_TRACK.RANDOMNESS}}%</td></tr>
                        <tr><td>Gain</td><td>{{server.preset.ini.DYNAMIC_TRACK.LAP_GAIN}} Lap/s</td></tr>
                        <tr><td>Transfer</td><td>{{server.preset.ini.DYNAMIC_TRACK.SESSION_TRANSFER}}%</td></tr>
                    </table>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Drivers</h3>
            </div>
            <table class="table">
                <tr><th>Name</th><th>Car</th><th>Skin</th><th>Lap/s</th></tr>
                <tr><td>Not</td></tr>
                <tr><td>Not</td><td>Yet</td></tr>
                <tr><td>Not</td><td>Yet</td><td>Done</td></tr>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript">
    socket.on('session', function(session) {
        console.log('session', session);
    });

    socket.on('lap', function(lap) {
        console.log('lap', lap);
    });

    $(function() {
        socket.emit('session connect', '{{ server.preset.presetName}}');
    });

</script>